

@import url('https://fonts.googleapis.com/css2?family=Idiqlat:wght@200;300;400&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --primary-color: #5d265d;
    --error-color: #ea4258;
    --correct-color: #48e596;
}

*{

box-sizing: border-box;
  font-family: "Idiqlat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}

*{
    box-sizing: border-box;
}






html, body {
    margin: 0;
    height: 100%;
}


body{
    color: var(--primary-color);
    background-image: url(Images/Background_Image.jpg);
    background-size: cover;
}


form{
    width: 100%;
    height: 100%;
    border-color: var(--primary-color);
    box-shadow: 5px 10px var(--primary-color);
    border-radius: 25px;

}

fieldset{
    /* Glass effect 
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    */

    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: inherit;
    border-style: inherit;
    background-color: #f6f7f9;
}

h1{
    text-align: center; 
}



input{
    background-color: #eceef1;
    width: 80%;
    border: 2px solid #e8eaed;
    padding-left: 5px;
}

input[type="text"]{
    border-radius: 5px;
    margin-left: 3rem;

}



input:focus , input:hover  {
  outline: none; /* removes browser default focus outline */
  animation: border-pulsate 2s infinite ;
}


#divBirthday{
    display: flex;
    width: 80%;
    margin-left: 3rem;

}

#birthday{
    width: 100%;
}

#labelBirthday{
    width: 40%;

}   

#divInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap : 10px;
}

.divErrorLeft{
    width: 100%;
}

p{
    font-size: 11px;
    padding-left: 5px;
    margin: -6px 0px;
}

#passwordError{
    color: var(--primary-color);
}

#birthdayError{
    margin-left: 8.3rem;
}

ul{
    margin: 2px 0px 0.3rem 26px;
}

li{
    color: var(--primary-color);
    font-size: 11px;
    margin: -6px 0px;
    padding-left: 5px;
}

a{
    display: inline-block;
    font-size: 12px;
    width: 70%;
    text-decoration-line: none;
    text-align: right;
    color: var(--primary-color);
    transition: margin-right 0.5s ease-out;
}
a:hover{
    margin-right: 1rem;
}


#divLink{

    width: 80%;
    text-align: right;
    margin-top: -12px;
    margin-left: 3rem;

    
}



#btCreateAccount{
    background-color:var(--primary-color);
    color: #fcfcfc;
    border-width: 2px;
    margin: 2vh auto;
    border-color: var(--primary-color);
    border-style: outset;
    border-radius: 20px;

}

#btCreateAccount:hover{
    box-shadow:0 3px 3px 0 rgba(0,0,0,0.6);
    animation: border-pulsate 1s infinite ;

    

}

#btCreateAccount:active{
    background: linear-gradient(78deg,rgba(238, 174, 202, 1) 0%, rgba(93, 38, 93, 1) 89%);
}

#containerLogin{
    width:  30rem;
    height: 50rem;
    display:grid;          
    grid-template-rows: 13rem 1fr;
   margin: auto;

}

#imgLogo{
    width: 45%;
    height: 80%;
    position: relative;
    left: 8rem;
    top: 3rem;
    overflow: hidden;
}
#imgContainer{
    width: 100%;    
    
}



.correct{
    border-color: var(--correct-color);
}


.error{
    border-color: var(--error-color);
}

.valid_requirement{
    color : var(--correct-color);
    list-style-type: '✔';

}


.invalid_requirement{
    color :var(--error-color);
    list-style-type: '✘';
}




@keyframes border-pulsate {
    0%   { border-color: #9ba6db; }
    50%  { border-color: #6fb2c2; }
    100% { border-color: #9ba6db; }
}